@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&family=PT+Sans+Narrow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    color: #fff;
    font-family: arial;
    background-color: #000;
}
div.container{
    /* background-color: #fff; */
    width: 80%;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
}

/*header*/

header{
    display: flex;
    justify-content: space-between;
    color: #fff;
    padding: 15px;
    align-items: baseline;
    /* background-color: blue; */
}

header .proj h1{
    font-family: 'Architects Daughter';
    font-size: 40px;
    cursor: default;
}

header h1:hover{
    color: #7fffd4;
}

header nav{
    width: 20%;
    display: flex;
    justify-content: space-around;
    font-family: 'Montserrat';
}

header nav a{
    color: inherit;
    text-decoration: none;
    transition: .3s;
}

header nav a:hover{
    transform: scale(1.3);
}

/*about-me*/
.about-me{
    padding: 10px 20px;
    display: flex;
    margin-top: 10px;
    width: 100%;
    height: 500px;
    justify-content: space-between;
    box-sizing: border-box;
    /* background-color: red; */
}

.about-me .side h3{
    font-family: 'Ubuntu';
    font-size: 2.5em;
}

.profile{
    margin-top: 20px;
    /* background-color: aquamarine; */
    width: 60%;
}

.profile img{
    /* background-color: aqua; */
    width: 200px;
}

.side{
    /* background-color: red; */
    padding: 10px;
    box-sizing: border-box;
}

.intro{
    margin-top: 20px;
    width: 70%;
}

.side .intro p{
    text-indent: 7%;
    letter-spacing: 2px;
    line-height: 25px;
}

/*Responsive*/